{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0"><i class="bi bi-person-plus"></i> Inscription</h4>
            </div>
            <div class="card-body">
                {{ form_start(registrationForm) }}
                    <div class="mb-3">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email) }}
                        {{ form_errors(registrationForm.email) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(registrationForm.nom) }}
                        {{ form_widget(registrationForm.nom) }}
                        {{ form_errors(registrationForm.nom) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(registrationForm.telephone) }}
                        {{ form_widget(registrationForm.telephone) }}
                        {{ form_errors(registrationForm.telephone) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(registrationForm.plainPassword) }}
                        {{ form_widget(registrationForm.plainPassword) }}
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>

                    <div class="mb-3 form-check">
                        {{ form_widget(registrationForm.agreeTerms) }}
                        {{ form_label(registrationForm.agreeTerms) }}
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-person-plus"></i> S'inscrire
                        </button>
                    </div>
                {{ form_end(registrationForm) }}

                <hr>
                <div class="text-center">
                    <p>Déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}